go 1.22.2

use (
	./backup/urlv1
	./backup/urlv10
	./backup/urlv11
	./backup/urlv2
	./backup/urlv3
	./backup/urlv4
	./backup/urlv5
	./backup/urlv6
	./backup/urlv7
	./backup/urlv8
	./backup/urlv9
	./hitapp
	./parseurl
	./url
)
